#contact_page
  %header.banner.span4{:role => "banner", :style => "height: 1146px;"}
    .header-wrap
      .navbar
        #nav-collapser
          %a{:href => "#sidebar"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
